<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/index.css">
</head>
<body>
    <header>
        <div class="logo">
            QuoteBook
        </div>
        <div class="messenger">
            <a><img src="/img/discord.svg"></a>
            <a><img src="/img/telegram.svg"></a>
            <a><img src="/img/git.svg"></a>
        </div>
        <div class="light-mode">
            <button class="" id="">
                <img src="/img/sun.svg">
            </button>
        </div>
    </header>
    <main>
        <div class="container">
            <div class="rand-quote">
                <div class="quote">
                    <div class="quote-text">
                        “Давайте братья, не будьте сестрами”
                    </div>
                    <div class="author">
                        -Джейсен Стетхем
                    </div>
                </div>
                <div class="new-quote">
                    <button id="">
                        Новая цитата
                    </button>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="quote-themes">
                <div class="title">
                    Цитаты по темам
                </div>
                <div class="">
                    <img src="/img/right-arrow 1.svg">
                </div>
                <div class="music">
                    Из музыки
                    <img src="/img/music.svg">
                </div>
                <div class="books">
                    Из книг
                    <img src="/img/books.svg">
                </div>
                <div class="gamse">
                    Из игр
                    <img src="/img/games.svg">
                </div>
                <div class="teachers">
                    От преподавателей
                    <img src="/img/teacher.svg">
                </div>
                <div class="films">
                    Из фильмов
                    <img src="/img/films.svg">
                </div>
            </div>
            
        </div>
        <div class="container">
            <div class="">
                <img src="/img/chat 1.svg">
                Ждем ваших идей
            </div>
            <img src="/img/image 1.svg">
            <form action="index.html" method="post">
                <input type="text" id="" name="" placeholder="Поделитесь любимыми цитатами из книг, фильмов... ">
                <input type="text" id="" name="" placeholder="Не забудьте указать автора">
                <select id="" name="">
                    <option value="">Из книг</option>
                    <option value="">Из игр</option>
                    <option value="">От преподавателей</option>
                    <option value="">Из фильма</option>
                    <option value="">Из музыки</option>
                </select>
                <button type="submit">Submit</button>
            </form>
            После прохождения проверки ваша  запись появится выше
        </div>
        <div class="container">
            <div class="category">
                <a>Из книг</a>
                <a>Из игр</a>
                <a>От преподавателей</a>
                <a>Из фильма</a>
                <a>Из музыки</a>
            </div>

        </div>
    </main>
    <footer>
        <img src="/img//creativity 1.svg">
    </footer>
</body>
</html>